$color-primary: #FFFFCC;
$color-primary-light: #8e9efc;
$color-primary-dark: #FF3333;
$color-white: #fff;
$color-grey: #777777;
$color-black: #000;
$gutter-vertical: 8rem;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #333;
$defaul-font-size: 1.6rem;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485;
