.header {
    background-image:
    linear-gradient(to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url('../img/anhnen4.jpg');
    height: 95vh;
    // background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    &__logo {
        height: auto;  
        width: 200px;
    }
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}   