.btn {
    &:link,
    &:visited{
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        font-size: 16px;
        position: relative;
    }
    &--white {
        color: $color-grey;
        background-color: $color-white;
    }
    &--primary {
        background-color: $color-primary-light;
        color: $color-white;
        // &::after {
        //     background-color: $color-primary-dark;
        // }
    }
    &:hover {
        transition: all .3s;
        transform: translateY(-3px);
        box-shadow: 0 5px 20px rgba($color-black, .2);
        &::after {
            transform: scaleX(1.5) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, .2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 100px;
        background-color: $color-white;
        z-index: -1;
        top: 0;
        left: 0;
        transition: all .4s;
    }
    &--animated {
        animation: moveInButton ease-out .75s;
        animation-delay: .5s;
        animation-fill-mode: backwards;
    } 
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;
        padding: .3rem;
        font-size: $defaul-font-size;
    }
    &:hover {
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-0.2rem);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
    transition: all 0.2s;
}