@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px, 0); }
  80% {
    transform: translate(-20px, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px, 0); }
  80% {
    transform: translate(20px, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.7;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777777; }

.heading-primary {
  margin-bottom: 100px;
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6.2rem;
    letter-spacing: 15px;
    font-weight: 500;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 18px;
    font-weight: 700;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .5rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #8e9efc, #FF3333);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-padding-bottom-big {
  padding-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-top: 7rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-justify-center {
  justify-content: center !important; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  font-size: 16px;
  position: relative; }

.btn--white {
  color: #777777;
  background-color: #fff; }

.btn--primary {
  background-color: #8e9efc;
  color: #fff; }

.btn:hover {
  transition: all .3s;
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100px;
  background-color: #fff;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all .4s; }

.btn--animated {
  animation: moveInButton ease-out .75s;
  animation-delay: .5s;
  animation-fill-mode: backwards; }

.btn-text {
  transition: all 0.2s; }
  .btn-text:link, .btn-text:visited {
    color: #FF3333;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #FF3333;
    padding: .3rem;
    font-size: 1.6rem; }
  .btn-text:hover {
    background-color: #FF3333;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.2rem); }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    outline-offset: 1rem;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 2rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 10%;
      top: 10rem; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.9); }
    .composition__photo:hover {
      outline: 1.5rem solid #FFFFCC;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.8);
      z-index: 20; }

.skill-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2rem 2rem 5rem 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .2s;
  height: 100%; }
  .skill-box__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #8e9efc, #FF3333);
    -webkit-background-clip: text;
    color: transparent; }
  .skill-box:hover {
    cursor: pointer;
    transform: translateY(-1.5rem) scale(1.03); }
  .skill-box__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .skill-box__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; }

.card {
  perspective: 150rem;
  height: 50rem;
  position: relative; }
  .card__side {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    transition: all .8s ease;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: green;
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, #8e9efc, #FF3333); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, #55c57a, #28b485); }
  .card__picture {
    clip-path: polygon(0 1%, 100% 0%, 100% 85%, 0 100%);
    background-size: cover;
    height: 23rem;
    background-blend-mode: color; }
    .card__picture--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url("/assets/img/riven1.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right, #8e9efc, #FF3333), url("/assets/img/riven2.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right, #55c57a, #28b485), url("/assets/img/riven3.jpg"); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 2rem;
    top: 12rem;
    color: #fff;
    width: 75%;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.85), rgba(255, 51, 51, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__details {
    padding: 3rem;
    color: #777777; }
    .card__details ul {
      list-style: none;
      width: 70%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #dbdbdb; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 500; }

.feedback {
  padding: 5rem;
  font-size: 1.6rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  background-color: white;
  padding-left: 9rem;
  margin-bottom: 5rem;
  opacity: .8;
  transform: skewX(-12deg); }
  .feedback__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    position: relative;
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem);
    transform: skewX(12deg);
    margin-top: -1rem;
    margin-right: 4rem;
    shape-outside: circle(50% at 50% 50%); }
  .feedback__text {
    transform: skewX(12deg); }
  .feedback__image {
    height: 100%;
    transform: scale(1.4);
    transition: all .3s; }
  .feedback__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    text-align: center;
    transition: all .3s; }
  .feedback:hover .feedback__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .feedback:hover .feedback__image {
    filter: blur(0.5rem) brightness(70%);
    transform: scale(1.05); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("/assets/img/contact.jpg");
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .contact__form {
    padding: 6rem;
    width: 50%; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border: 0;
  border-radius: .2rem;
  border-bottom: 3px solid transparent;
  display: block;
  background-color: rgba(255, 255, 204, 0.5);
  width: 80%; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid #FFFFCC; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #777777; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all .3s; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__radio-group {
  width: 45%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #8e9efc;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  display: inline-block;
  top: -.4rem; }

.form__radio-button::after {
  opacity: 0;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  border: 0.5rem solid #8e9efc;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-color: #8e9efc; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 20rem;
    height: auto; }
  .footer__title {
    display: block;
    color: #FFFFCC;
    font-size: 2rem;
    text-transform: uppercase; }
  .footer__copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    width: 70%;
    float: right;
    text-align: justify; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #FFFFCC;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.015); }

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(255, 51, 51, 0.8)), url("../img/anhnen4.jpg");
  height: 95vh;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 50px;
    left: 50px; }
  .header__logo {
    height: auto;
    width: 200px; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-12 {
  width: 100%; }

.col-10 {
  width: 83.333333%; }

.col-6 {
  width: calc(50% - 15px); }

.col-4 {
  width: calc(33.33333% - 20px); }

.col-3 {
  width: calc(25% - 22.5px); }

section {
  padding: 20rem 0; }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20rem; }

.section-skills {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(255, 51, 51, 0.8)), url("../img/anhnen.jpg"); }

.section-skin {
  background-color: #f7f7f7;
  margin-top: -5rem; }

.section-feedbacks {
  position: relative;
  padding: 15rem 0; }

.section-contact {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(255, 51, 51, 0.8)); }
